dist: trusty
language: cpp

compiler:
- gcc

install:
# Upgrade GCC
- sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
- sudo apt-get update -qq
- sudo apt-get install -qq python3-pip g++-7
- sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/g++ g++ /usr/bin/g++-7

# Install conan
- sudo pip3 install conan
# Automatic detection of your arch, compiler, etc.
- conan user
- conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan

script:
- mkdir build && cd build
- conan install .. --build missing -s compiler.libcxx=libstdc++11
- sed 's/^compiler.libcxx=libstdc++$/compiler.libcxx=libstdc++11/' -i ~/.conan/profiles/default
- conan install .. --build missing -s compiler.libcxx=libstdc++11
- cmake .. -DCMAKE_BUILD_TYPE=Release
- cmake --build .
- ./bin/tests
